<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo.png" %>
  <% end %>



    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Add Cocktail"), new_cocktail_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>


</div>
